*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
  }
  body{
    background-color: #fff;
    /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(GuraPhotos/river-11.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
  }
  nav{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(GuraPhotos/river-11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90px;
    width: 100%;
  }
  label.logo{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
  }
  nav ul li a:hover{
    text-decoration: underline;
    color: #fff;
  }
  .fa-bars{
    font-size: 30px;
    color: #fff;
  }
  .checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
  }
  #check{
    display: none;
  }

  .amenities h2{
    font-weight: 700;
    /* text-align: center; */
    /* margin-right: 40rem; */
     margin-left: 27rem; 
}
i{
    font-size: 30px;
}
.child{
  margin-left: 3rem;
}
.security{
  margin-left: 2rem;
}
.meet{
  margin-left: 2.5rem;
}

.font{
    margin-top: 3rem !important;
    margin-left: 14rem !important;

}
.font h6{
  font-size: 20px;
}
.about-us{
  margin-top: 5.5rem !important;
  background: #eef5fc;
  margin-right: -15rem !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* margin-left: 8rem !important; */
}
.about-1{
  padding-left: 9rem;
}
.about-us h2{
  font-weight: 600;
  margin-bottom: 2rem;
}
.about-2{
  border-left: solid 1px rgb(155, 153, 153);
  
}
.about-1 p{
  line-height: 29px;
  font-weight: 400;
  font-size: 120%;
}
.enve{
  margin-top: 4rem;
  margin-left: 5rem;
 
}
.email{
  font-size: 20px;
  text-decoration: none;
  color: rgb(31, 31, 31);
}
.email:hover{
  color: rgb(31, 31, 31);
  text-decoration: underline;
}
.iphone{
  margin-top: 2rem;
  margin-left: 9rem;
}
.area{
  margin-top: 2rem;
  margin-left: 13rem;
}
.tour{
    margin-left: 8rem !important ;
    margin-top: 5rem; 
  }
  .tour-1 img{
    height: 85vh;
    width: 70vh;
  }
  .tour-2{
    margin-top: 8rem;
    line-height: 32px;
  }
  .tour-2 p{
    margin-top: 2rem;
    font-weight: 400;
    font-size: 120%;
  }
  .activities{
    margin-top: 5.5rem !important;
    background: #eef5fc;
    margin-right: -15rem !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .act-1{
    padding-left: 9rem;
    line-height: 32px;
    margin-top: 8rem;
  }
  .act-1 p{
    margin-top: 2rem;
    font-size: 120%;
  }
  .act-2 img{
    height: 85vh;
    width: 70vh;
  }
  .act-but{
    line-height: 80px;
    text-decoration: none;
    color: #4f4f50;
    border: solid 1px;
    padding: 1rem;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 700;
  }
  .act-but:hover{
    text-decoration: none;
    color: #4f4f50;
    background-color: #cecef8;
    border: transparent;
  }
  .food{
    margin-top: 5.5rem !important;
    margin-left: 8rem !important;
    margin-bottom: 5rem;
  }
  .food-1 img{
    height: 85vh;
    width: 70vh;
  }
  .food-2{
    margin-top: 8rem;
    line-height: 32px;
  }
  .food-2 p{
    margin-top: 2rem;
    font-size: 120%;
  }
  .contact{
    background: #22223b;
    margin-right: -15rem !important;
    margin-left: -3rem !important;
    margin-top: 5rem !important;
    margin-bottom: -3rem !important;
    margin-top: 5rem !important;
    color: #fff;
  }
  .contact h6{
    color: #eef5fc;
    text-align: center;
    padding: 2rem;
    padding-bottom: 2rem;
    margin-right: 12rem;
  }
  

  @media (max-width:480px){
    html, body{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }
    .buttons{
      /* margin-bottom: 3rem; */
      margin-top: 6rem;
    }
    .heading-1 h1{
      font-size: 55px;
    }
    .about-us{
        margin-left: -8rem;
    }
    .about-1{
        margin-right: -5rem;
    }
    .about-1 p{
        font-size: 18px;
        margin-right: 15rem;
    }
    .about-2 h3{
        margin-left: -11rem;
        margin-bottom: -2.5rem;
        margin-top: 2rem;
    }
    .enve{
        margin-left: 9rem;
    }
    .area{
        margin-left: 9rem;
    }
    .mail{
        margin-bottom: -1rem;
    }
    .phone{
        margin-bottom: -1rem;
    }
    .tour-1 img{
        margin-left: -9rem;
        width: 49vh;
        height: 40vh;
    }
    .tour-2{
        margin-left: -8rem;
        margin-top: 2rem;
    }
    .tour-2 h2{
        margin-bottom: -1rem;
    }
    .tour-2 p{
        margin-right: -7.5rem;
    }
    .food-1 img{
        margin-left: -9rem;
        width: 49vh;
        height: 40vh;
    }
    .food-2{
        margin-left: -8rem;
        margin-top: 2rem;
    }
    .food-2 h2{
        margin-bottom: -1rem;
    }
    .food-2 p{
        margin-right: -7.5rem;
    }
    .act-1{
        margin-left: -7.5rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
    .act-1 p{
        margin-right: 7.5rem;
    }
    .act-2 img{
        width: 49vh;
        height: 40vh;
    }

  }
  
  @media (max-width:952px){
    .logo{
      font-size: 20px;
      /* padding-left: 40px; */
      color: #2c2447;
      /* display: none; */
    }
    nav ul li a{
      font-size: 16px;
    }
    .buttons{
      margin-top: 15rem;
    }

    .amenities h2{
        font-size: 10px;
        margin-left: 4.5rem;
        margin-top: -1rem;
    }
    .amenities h6{
        font-size: 10px;
    }
   .font{
    margin-left: 3rem !important;
    margin-bottom: -2rem;
    margin-right: -2rem;
    /* margin-top: -2rem; */
   }
   i{
    font-size: 30px;
   }
   .kids{
    margin-right: -3rem;
    margin-left: -2.5rem;
   }
   .kids h6{
    margin-left: -0.8rem;
   }
   .child{
    margin-left: 0.7rem;
   }
   .con{
    margin-left: -2rem;
   }
   .meet{
    margin-left: 1rem;
   }
   .free{
    margin-left: 1rem;
   }
   .park{
    margin-left: -4rem;
   }
   .sec{
    margin-left: -7rem;
    /* margin-right: 1rem; */
   }
   .sec h6{
    margin-left: 2rem;
   }
   .security{
    margin-left: 3rem;
   }

  }
  
  @media (max-width:858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c2447;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      left: 0;
    }
    .buttons{
      margin-top: 15rem;
    }
  } 