* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Noto Serif', serif;
    background: #f4f7fa;
}
.heading-1{
    text-align: center;
    margin-top: 4rem;
}
.buttons{
    text-align: center;
    margin-top: 5rem;

}
.but{
   padding: 1rem;
}

